@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";

body {
    font-family:'Open Sans Condensed', sans-serif;
}

p {
    font-size: 20px;
}

/*site logo*/

.sylogo {
    margin:auto;
    display:block;
}


/*navigation*/

.img-responsive {
    height:auto;
    width:auto;
    max-height:60px;
    max-width:250px;
}

.btn-responsive {
    margin-top:15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:#b32323;
}

@media (min-width: 768px) {
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
}
.navbar {
    margin-bottom: 0;
}

.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
}
  
.navbar-default .navbar-nav > li > a { 
  color: #141414; 
    font-size: 20px;
    font-weight:bold;
    text-align:center;
    }
    
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color:#b32323;
  background-color: transparent;
}

.nav > li > a {
   padding: 10px 30px;
}

@media screen and (max-width:1064px) {
    .nav > li > a {
   padding: 10px 18px;
}
}

@media screen and (max-width:872px) {
    .nav > li > a {
   padding: 10px 10px;
}
}
/*main photo */

.mataji {
   width:100%;
}

/*text in the middle */

.middletext {
    font-size:30px; 
    text-align:center;
   
    }

/*small photos and short descriptions*/


.picsize {
    max-height:100%;
    max-width:100%;
    margin-bottom: 15px;
    margin-top:15px;
}

a.minilinks  {
    font-size: 20px;
    color: #b32323;
    font-weight: bold;
}

a.minilinks:hover {
    text-decoration:none;
}
    

/*footer*/

footer {
    height: 170px;
    background-color: #383838;
    color:#D3D3D3;
    margin-top:30px;
    padding-top:25px;
}

footer a {
    font-size:18px;
    color:#D3D3D3;
}

footer a:hover {
    text-decoration:none;
    color: #fff;
}

.fa {
    padding: 5px 15px 15px 15px;
}

.copyright {
    font-size:14px; 
    float:right; 
    padding:115px 0 0 0;
}

@media screen and (max-width:991px) {
    footer{
    height:auto;
    }
}
@media screen and (max-width:767px){
    footer{
        text-align:center;
    }
    footer p{
        margin-top:20px;
    }
    }

.title {
    padding-top:30px;
    padding-bottom:15px;
}

.parastyle {
    line-height:30px;
}

.sidelinks p {
    padding-top:30px;
}
.sidelinks p:first-child {
    padding-top:120px;
}

.sidelinks img {
    padding-top:15px;
}
.sidelinks li a {
    font-size:18px;
    color:#A9A9A9;
}

.sidelinks li a:hover {
    text-decoration:none;
    color: #b32323;
}

.sidelinks .fa {
    color:#A9A9A9;
}